*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  background-color: #001427;
  font-family: 'Indie Flower', cursive;
}
.container{
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
}
.headline{
  width: 100%;
  display: flex;
  justify-content: center;
  flex-grow: 1;
  margin-top: 30px;


}
.headline h1{
    color: #f4d58d;
    font-size: 5rem;
    text-align: center;
}
.dice-container{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex:5;
  margin-top: 30px;

}
.dice{
  width: auto;
  height: auto;
  margin: 0 25px 0 25px;
  text-align: center;
}
.play{
  display: block;
  width: 90%;
  margin: 15px auto;
  text-align: center;
  font-family: 'Indie Flower', cursive;
  font-size: 1.7rem;
  border:0;
  border-radius: 25px;
  background-color: #f4d58d;
}
.dice p{
  color: #f4d58d;
  font-size: 2.5rem;
}
.button-container{
  width: 100%;
  text-align: center;
  flex:5;
  margin-top: 50px;
}
.btn1{
  width: 256px;
  height: 50px;
  border:0;
  border-radius: 25px;
  background-color: #f4d58d;
  color: #001427;
  font-family: 'Indie Flower', cursive;
  font-size: 1.5rem;
  cursor: pointer;
}
.btn1:hover{
  width: 256px;
  height: 50px;
  border:3px solid #f4d58d ;
  border-radius: 25px;
  background-color: #001427;
  color: #f4d58d ;
  font-family: 'Indie Flower', cursive;
  font-size: 1.5rem;
}
.btn2{
  width: 256px;
  height: 50px;
  border:0;
  border-radius: 25px;
  background-color: #f4d58d;
  color: #001427;
  font-family: 'Indie Flower', cursive;
  font-size: 1.5rem;
  cursor: pointer;
  visibility: hidden;
}
.btn2:hover{
  width: 256px;
  height: 50px;
  border:3px solid #f4d58d ;
  border-radius: 25px;
  background-color: #001427;
  color: #f4d58d ;
  font-family: 'Indie Flower', cursive;
  font-size: 1.5rem;
}
.error{
  color: #f4d58d ;
  font-size: 1rem;
  margin-top: 10px;
}
.winner{
  color: #f4d58d ;
  font-size: 3.5rem;
  margin: 20px auto;
}
@media screen and (max-width:450px){
  .headline h1{
      font-size: 3.2rem;
      margin-left: 15px;
      margin-right: 15px;
  }
  .dice-container{
    flex-direction: column;
    align-items: center;
  }
  .dice p{
    font-size: 1.5rem;
  }
  .play{
    font-size: 1.3rem;
  }
  .img1, .img2{
    height: 120px;
    width: 120px;
  }
  .d2{
    margin-top: 20px;
  }
  .button-container{
    margin-top: 20px;
  }
  .btn1{
    width: 120px;
    height: 30px;
    font-size: 1.2rem;
  }
  .btn1:hover{
    width: 120px;
    height: 30px;
    font-size: 1.2rem;
  }
  .btn2{
    width: 120px;
    height: 30px;
    font-size: 1.2rem;
  }
  .btn2:hover{
    width: 120px;
    height: 30px;
    font-size: 1.2rem;
  }
  .error{
    font-size: 0.8rem;
  }
  .winner{
    font-size: 2rem;
  }
}
@media screen and (min-width:714px) and (max-width:1050px){
  .heading{
    display: block;
  }
}
